**/.idea/**
/build/tmp
/build/k8s/app/deploy
/build/logs
/build/k8s/app/certs
*.lock
node_modules
dist
.vscode
**/*.jpg
**/*.png
**/*.svg
**/*.dll
lang/go/config.template.toml
lang/go/local.template.toml
lang/go/local.toml
